body {
    font-family: 'Iosevka Aile', monospace;
    background-color: #f1f1f1;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-top: 50px;
}

p {
    color: #555;
    font-size: 24px;
    margin-bottom: 20px;
}

p.percentage {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}
