{% extends 'base.html' %} {% block head %}
<title>Paper Selection</title>
{% endblock %} {% block article %}
<div class="main-form center">
  <div class="main-form-title"><a href="/">Select Your Paper!</a></div>
  <form action="/pdf" method="POST" id="main">
    <div class="main-form-message">
      Papers are downloaded from
      <a href="https://gceguide.com">gceguide.com</a>. If an error is given,
      make sure to first check if the paper is available on the site before
      opening an issue.
    </div>
    <div class="main-form-label">Subject:</div>
    <select name="subject" id="subject" onchange="handleSubjectChange(this)">
      <optgroup label="Cambridge IGCSE">
        <option value="Cambridge IGCSE/Economics (0455)">
          Economics (0455)
        </option>
        <option value="Cambridge IGCSE/Biology (0610)">Biology (0610)</option>
        <option value="Cambridge IGCSE/Chemistry (0620)">
          Chemistry (0620)
        </option>
        <option value="Cambridge IGCSE/Physics (0625)">Physics (0625)</option>
        <option value="Cambridge IGCSE/Science - Combined (0653)">
          Science Combined (0653)
        </option>
      </optgroup>
      <optgroup label="O Levels">
        <option value="O Levels/Economics (2281)">Economics (2281)</option>
        <option value="O Levels/Physics (5054)">Physics (5054)</option>
        <option value="O Levels/Chemistry (5070)">Chemistry (5070)</option>
        <option value="O Levels/Biology (5090)">Biology (5090)</option>
        <option value="O Levels/Science - Combined (5129)">
          Science Combined (5129)
        </option>
      </optgroup>
      <optgroup label="A Levels">
        <option value="A Levels/Biology (9700)">Biology (9700)</option>
        <option value="A Levels/Chemistry (9701)">Chemistry (9701)</option>
        <option value="A Levels/Physics (9702)">Physics (9702)</option>
        <option value="A Levels/Accounting (9706)">Accounting (9706)</option>
        <option value="A Levels/Economics (9708)">Economics (9708)</option>
      </optgroup>
    </select>
    <div class="main-form-label">Year (2018 - 2022):</div>
    <input required type="number" name="year" id="year" min="2018" max="2022" />
    <div class="main-form-label">Month:</div>
    <select name="month" id="month">
      <option value="m">Feb/March</option>
      <option value="s">May/June</option>
      <option value="w">Oct/Nov</option>
    </select>
    <div class="main-form-label">Level:</div>
    <select name="level" id="level">
      <option value="1">Core</option>
      <option value="2">Extended</option>
    </select>
    <div class="main-form-label">Variant:</div>
    <select name="variant" id="variant">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div><input type="submit" value="Submit!" /></div>
  </form>
  <strong><div class="form-container"></div></strong>
</div>
<script>
  const form = document.getElementById("main");
  const subjectSelect = document.getElementById("subject");
  const levelSelect = document.getElementById("level");

  form.onsubmit = (e) => {
    let variant = e.target.variant.value;
    let month = e.target.month.value;
    let subject = e.target.subject.value;
    let year = e.target.year.value;

    if (variant !== "2" && month === "m") {
      reportError("Only variant 2's are available in the months of Feb/March!");
      e.target.variant.value = "2";
      return false;
    }
    if (year === "2022" && month === "w") {
      reportError(
        "Only Feb/March and May/June are available for 2022 on gceguide.com currently!"
      );
      e.target.month.value = "s";
      return false;
    }
    if (
      subject === "O Levels/Biology (5090)" ||
      subject === "O Levels/Chemistry (5070)" ||
      subject === "O Levels/Physics (5054)" ||
      subject === "O Levels/Science - Combined (5129)" ||
      subject === "O Levels/Economics (2281)" ||
      month === "m"
    ) {
      reportError("O level subjects do not have Feb/March papers.");
      return false;
    }
    if (
      subject === "O Levels/Biology (5090)" ||
      subject === "O Levels/Chemistry (5070)" ||
      subject === "O Levels/Physics (5054)" ||
      subject === "O Levels/Science - Combined (5129)" ||
      subject === "O Levels/Economics (2281)" ||
      month === "s" &&
      variant === "3"
    ) {
      reportError("O level subjects do not have variant 3's in May/June.");
      return false;
    }
    if (
      subject === "O Levels/Biology (5090)" ||
      subject === "O Levels/Chemistry (5070)" ||
      subject === "O Levels/Physics (5054)" ||
      subject === "O Levels/Science - Combined (5129)" ||
      subject === "O Levels/Economics (2281)" ||
      month === "w" &&
      variant === "1"
    ) {
      reportError("O level subjects do not have variant 1's in Oct/Nov.");
      return false;
    }
    if (
      subject === "O Levels/Biology (5090)" ||
      subject === "O Levels/Chemistry (5070)" ||
      subject === "O Levels/Physics (5054)" ||
      subject === "O Levels/Science - Combined (5129)" ||
      month === "w" &&
      variant === "3"
    ) {
      reportError(
        "O level science subjects do not have variant 3's in Oct/Nov."
      );
      return false;
    }
  };

  function reportError(message) {
    const errorDiv = document.createElement("div");
    errorDiv.classList.add("error-message");
    errorDiv.textContent = message;
    const formContainer = document.querySelector(".form-container");
    formContainer.appendChild(errorDiv);
  }

  function handleSubjectChange(selectElement) {
    const selectedSubject = selectElement.value;

    if (
      selectedSubject !== "Cambridge IGCSE/Physics (0625)" &&
      selectedSubject !== "Cambridge IGCSE/Chemistry (0620)" &&
      selectedSubject !== "Cambridge IGCSE/Biology (0610)" &&
      selectedSubject !== "Cambridge IGCSE/Science - Combined (0653)" &&
      selectedSubject !== "O Levels/Biology (5090)" &&
      selectedSubject !== "O Levels/Chemistry (5070)" &&
      selectedSubject !== "O Levels/Physics (5054)" &&
      selectedSubject !== "O Levels/Science - Combined (5129)"
    ) {
      levelSelect.value = "1";
      levelSelect.disabled = true;
    } else {
      levelSelect.disabled = false;
    }
  }
  handleSubjectChange(subjectSelect);
</script>
{% endblock %}
