{% extends 'base.html' %} {% block extra_head %}
<title>{{ paper_name }}</title>
{% endblock %} {% block main %}
<aside class="w-75">
	<div class="mt-3 w-100 h-100 embed-responsive embed-responsive-16by9 pdf">
		<embed
			class="w-100 border border-2 border-info rounded-3"
			id="canvas"
			src=""
		/>
	</div>
</aside>
<article class="w-25 mt-3">
	<form action="/pdf_score" id="form" method="POST">
		<input
			hidden
			type="text"
			id="user-answers"
			name="user_answers"
			value=""
		/>
		<input hidden type="text" id="paper-name" name="paper_name" value="" />
		<input
			hidden
			type="text"
			id="correct-answers"
			name="correct_answers"
			value=""
		/>
	</form>
	<h1 id="title" class="fw-bold text-center mb-3">Question 1</h1>
	<p
		id="incorrect-answer"
		style="display: none"
		class="w-100 alert alert-danger"
	>
		Incorrect!
	</p>
	<p
		id="correct-answer"
		style="display: none"
		class="w-100 alert alert-success"
	>
		Correct!
	</p>
	<div class="btn-group w-100">
		<button
			class="btn btn-primary"
			type="submit"
			name="user_answer"
			onclick="answer('A')"
			value="A"
			class="answer-button"
		>
			A
		</button>
		<button
			class="btn btn-danger"
			type="submit"
			name="user_answer"
			onclick="answer('B')"
			value="B"
			class="answer-button"
		>
			B
		</button>
		<button
			class="btn btn-success"
			type="submit"
			name="user_answer"
			onclick="answer('C')"
			value="C"
			class="answer-button"
		>
			C
		</button>
		<button
			class="btn btn-warning"
			type="submit"
			name="user_answer"
			onclick="answer('D')"
			value="D"
			class="answer-button"
		>
			D
		</button>
	</div>
</article>
<script>
	var correctAnswers = {{ answers | tojson | safe }};
</script>

<script src="../static/js/pdf.js" async></script>
{% endblock %}
