{% extends 'base.html' %} {% block extra_head %}
<title></title>
{% endblock %}{% block main %}

<aside class="col d-none d-md-block"></aside>
<article class="px-5 px-md-0 col">
	<h1 class="fw-bold text-center mb-3">Score</h1>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th scope="col">Your Score</th>
				<th scope="col">Total Questions</th>
				<th scope="col">% Correct</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="score"></td>
				<td id="total-questions"></td>
				<td id="score-percent">%</td>
			</tr>
		</tbody>
	</table>
  <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Your Answer</th>
            <th scope="col">Correct Answer</th>
        </tr>
    </thead>
    <tbody id="answers">
    </tbody>
</table>
</article>
<aside class="col d-none d-md-block"></aside>
<script>
	var correctAnswers ={{ correct_answers | tojson | safe }};
	var paperName = `{{ paper_name | safe }}`;
	var userAnswers = {{ user_answers | tojson | safe }};
	var score = 0;
	var questionNum = correctAnswers.length;
	for (let i = 0; i < correctAnswers.length; i++) {
	  const row = answers.insertRow();
	  const [cell1, cell2, cell3] = Array.from({ length: 3 }, () =>
	    row.insertCell()
	  );
	  if (correctAnswers[i] === userAnswers[i]) {
	    score++;
	    cell1.textContent = i + 1;
	    cell1.classList.add('fw-bold');
	    cell2.textContent = userAnswers[i];
	    cell2.classList.add('table-success');
	    cell3.textContent = correctAnswers[i];
	  } else {
	    cell1.textContent = i + 1;
	    cell1.classList.add('fw-bold');
	    cell2.textContent = userAnswers[i];
	    cell2.classList.add('table-danger');
	    cell3.textContent = correctAnswers[i];
	  }
	}
	var scorePercent = Math.round((score / questionNum) * 100);

	document.querySelector('title').textContent = paperName;
	document.getElementById('total-questions').textContent = questionNum;
	document.getElementById('score').textContent = score;
	document.getElementById('score-percent').textContent = `${scorePercent}%`;
	localStorage.setItem(paperName, scorePercent)
</script>

{% endblock %}
