{% extends 'base.html' %} {% block head %}
<title>Score & Answers</title>
{% endblock %} {% block body %}
<h1 style="text-align: center"><a href="/">Your Answers & Score!</a></h1>
<div class="answers">
  <h2>Score</h2>
  <table>
    <thead>
      <tr>
        <th>Your Score</th>
        <th>Total Questions</th>
        <th>% Correct</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ score }}</td>
        <td>{{ total_questions }}</td>
        <td>{{ ((score / total_questions) * 100) | round(2) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="answers">
  <h2>Answers</h2>
  <table>
    <thead>
      <tr>
        <th>Question Number</th>
        <th>Your Answer</th>
        <th>Correct Answer</th>
      </tr>
    </thead>
    <tbody>
      {% for qno in range(total_questions) %}
      <tr>
        <td>{{ qno + 1 }}</td>
        {% if answers[qno] == correct_answers[qno]%}
        <td style="color: greenyellow">{{ answers[qno] }}</td>
        {% else %}
        <td style="color: red">{{ answers[qno] }}</td>
        {% endif %}
        <td>{{ correct_answers[qno] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
